
.pb-header{
    align-items: center;
    background: #f97300;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    position: relative; 

    .pb-header__back-btn{
      flex: 0 1 auto;
      font-size: 2em;
      height: 2em;
      left: 8%;  
      position: absolute; 
      width: 2em;
    }
    .pb-header__section-title{

        flex: 0 1 auto;
        left: 25%;
        position: relative;

        .pb-header__section-title__title{
            font-size: 1.5em;
            margin: 10px 5px;
        }

        .pb-header__section-title__sub-title{
            font-size: 1em;
            margin: 10px 5px;
        }
    }

    .pb-header__add-btn{
      bottom: 15%;
      flex: 0 1 auto;
      font-size: 1.5em;
      height: 1.3em;
      position: absolute; 
      right: 5%;
      text-align: center;
      width: 1.3em;
    }

    a {
        color: #ffffff;
        text-decoration:none;
    }
}



