<div class="pb-header">
  <div class="pb-header__back-btn" *ngIf="showBtnBack">
    <a href="#" [routerLink]="['/list']"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
  </div>

  <div class="pb-header__section-title">

    <p class="pb-header__section-title__title">
      Phonebook
    </p>
    <p class="pb-header__section-title__sub-title">
      {{stateName}}
    </p>
    
  </div>

  <div class="pb-header__add-btn" *ngIf="showBtnAdd">
    <a href="#" [routerLink]="['/add']"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
  </div>
</div>
