.list-phone{
    padding: 0px;
    width: auto;
    height:100%;
    list-style: none;
    margin: 0px;

    app-item-phone:last-child{
        border-bottom: none !important;
    }

    /*position: absolute;
    top: 0px;
    bottom: 0px;*/
    /*display: flex;
    flex-flow: column wrap;
     justify-content: center;*/
    /*border: 1px solid blue;*/
}

