.pb-footer{
    align-items: center;
    background: #10828c;
    color: #ffffff;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    position: relative; 

}

.pb-footer__container-right{
    /*border: 1px solid purple;*/
}

.pb-footer__container-logos{
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.pb-footer__logo{
    margin: 15px 5px 10px 5px;
    & > img{
        height:50px;
        width:50px;
    }
}