<div class="pb-footer">
    <div class="pb-footer__container-logos">
      <div class="pb-footer__logo">
        <img src="/assets/img/html5.png" alt="html5">
      </div>
      <div class="pb-footer__logo">
        <img src="/assets/img/js.png" alt="js">
      </div>
      <div class="pb-footer__logo">
        <img src="assets/img/angular.png" alt="angular">
      </div>
    </div>
    <div class="pb-footer__container-right">
      <p class="pb-footer__right-text">
        © Copyright 20017-2020 ContrerasCode
      </p>
    </div>
</div>