
<form class="show-phone__form" 
  [formGroup] = "phone"
  (ngSubmit) = "onSubmit(phone)"
  novalidate>
      <div class="show-phone__form-group">
         <file-uploader [activeColor]="'#10828c'" [baseColor]="'#0e3047'"
                  ></file-uploader>
      </div>
      <div class="show-phone__form-group">
        <label for="" class="show-phone__form-label">Number :</label>
          <input type="text" value="" class="show-phone__form-input"
                  formControlName = "phoneNumber">
          <app-message-error
            [context]="phone.get('phoneNumber')"
          ></app-message-error>
      </div>
      <div class="show-phone__form-group">
        <label for="" class="show-phone__form-label">Name :</label>
        <input type="text" value="" class="show-phone__form-input"
                formControlName = "firstName">
        <app-message-error
            [context]="phone.get('firstName')"
          ></app-message-error>
      </div>
      <div class="show-phone__form-group">
        <label for="" class="show-phone__form-label">Last name :</label>
        <input type="text" value="" class="show-phone__form-input"
                formControlName = "lastName">
        <app-message-error
            [context]="phone.get('lastName')"
          ></app-message-error>
      </div>
      <div class="show-phone__form-group">
        <label for="" class="show-phone__form-label">Nick name :</label>
        <input type="text" value="" class="show-phone__form-input"
                formControlName="nickName">
        <app-message-error
            [context]="phone.get('nickName')"
          ></app-message-error>
      </div>
      <div class="show-phone__form-group">
        <label for="" class="show-phone__form-label">Addres :</label>
        <input type="text" value="" class="show-phone__form-input"
                formControlName="addres">
        <app-message-error
            [context]="phone.get('addres')"
          ></app-message-error>
      </div>
      <div class="show-phone__form-group">
        <label for="" class="show-phone__form-label">Company :</label>
        <input type="text" value="" class="show-phone__form-input"
                formControlName="company">
        <app-message-error
            [context]="phone.get('company')"
          ></app-message-error>
      </div>
      <div class="show-phone__form-group">
        <button type="submit" class="show-phone__form-btn"
                [disabled]="phone.invalid">Edit</button>
      </div>
  </form>

  